@{
    ViewData["Title"] = "Admin Index Page";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4">Admin Index Page</h1>
            <p class="lead">This is the content of the Admin index page.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Additional content and components can go here -->
            <p>Add more content or components here as needed.</p>
        </div>
    </div>
</div>
