@model DVDStore.Web.MVC.Areas.FilmCatalog.Models.FilmViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Film</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Releaseyear" class="control-label"></label>
                <input asp-for="Releaseyear" class="form-control" />
                <span asp-validation-for="Releaseyear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<div>
    <a class="btn btn-primary" asp-action="Index" asp-route-SearchQuery="@ViewBag.IndexSearchQuery">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
