<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="false"
	  internalLogLevel="Info"
	  internalLogFile="${basedir}/internal-NLOG.txt">

	<!-- Load the NLog extensions -->
	<extensions>
		<add assembly="NLog.Extensions.Logging" />
		<add assembly="NLog.Web.AspNetCore" />
		<add assembly="NLog.Database" />
	</extensions>

	<!-- Update var_logdir to use the base directory of the application -->
	<variable name="var_logdir" value="${basedir}" />
	<!--File target for file logging -->
	<targets async="true">
		<target xsi:type="File" name="logfile" fileName="${var_logdir}/LOGS/${shortdate}.log"
				layout="${date} ${uppercase:${level}} ${message} ${exception:format=tostring}"
				archiveOldFileOnStartup="true"
				archiveFileName="${var_logdir}/logs/archive/{#}.log"
				archiveNumbering="DateAndSequence"
				archiveEvery="Day"
				maxArchiveFiles="14"
				maxArchiveDays="7"
				archiveDateFormat="yyyy.MM.dd" />
		<!-- Color Console target -->
		<target xsi:type="ColoredConsole" name="logconsole"
				layout="${date} ${uppercase:${level}} ${message} ${exception:format=tostring}" useDefaultRowHighlightingRules="true">
		</target>
		<!-- Database target -->
		<!-- IMPORTANT: Change connection string for the environment database for logging-->
		<target xsi:type="Database" name="database"
				dbProvider="Microsoft.Data.SqlClient"
				connectionString="Data Source=(local);Initial Catalog=DVDStore;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;"
				keepConnection="true"
				commandText="insert into dbo.logs (Level,Callsite,Type,Message,StackTrace,InnerException,AdditionalInfo) values (@level, @callSite, @type, @message, @stackTrace, @innerException, @additionalInfo);">
			<parameter name="@level" layout="${level}" />
			<parameter name="@callSite" layout="${callsite}" />
			<parameter name="@type" layout="${logger}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@stackTrace" layout="${stacktrace}" />
			<parameter name="@innerException" layout="${exception:tostring}" />
			<parameter name="@additionalInfo" layout="${literal:text=DVDStoreApplication}" />
		</target>
	</targets>
	<!-- Rules to map loggers to targets -->
	<rules>
		<logger name="DVDStore*.*" minlevel="Debug" writeTo="logfile" />
		<logger name="DVDStore*.*" minlevel="Debug" writeTo="logconsole" />
		<logger name="DVDStore*.*" minlevel="Debug" writeTo="database" />
	</rules>
</nlog>